@font-face {
  font-family: "Menlo";
  src: url("/fonts/Menlo-Regular.woff2") format("woff2"),
    url("/fonts/Menlo-Regular.woff") format("woff"),
    url("/fonts/Menlo-Regular.ttf") format("truetype"),
    url("/fonts/Menlo-Regular.svg#Menlo-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Regular.eot") format("eot"),
    url("/fonts/Satoshi-Regular.ttf") format("woff"),
    url("/fonts/Satoshi-Regular.woff") format("truetype"),
    url("/fonts/Satoshi-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Medium.eot") format("eot"),
    url("/fonts/Satoshi-Medium.ttf") format("woff"),
    url("/fonts/Satoshi-Medium.woff") format("truetype"),
    url("/fonts/Satoshi-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Bold.eot") format("eot"),
    url("/fonts/Satoshi-Bold.ttf") format("woff"),
    url("/fonts/Satoshi-Bold.woff") format("truetype"),
    url("/fonts/Satoshi-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Newsreader";
  src: url("/fonts/Newsreader-Italic.ttf") format("truetype");
  font-style: italic;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Satoshi", sans-serif;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: #fcfcfc;
  transition: background 0.2s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

[data-theme="dark"] body {
  background: #1c1c1c;
}
